.container-fluid {
	padding-right: 0;
	padding-left: 0;
}
.nav-tab {
	position: relative;
	height: 32px;
	width: 100%;
	background: wheat;
	margin-bottom: 5px;
	border-bottom: 1px solid white;
}
.nav-tab .nav-btn {
	float: left;
  position: absolute;
	height: 31px;
	width: 40px;
	background: wheat;
	border: 0;
  z-index: 200;
}
.nav-tab .nav-btn:hover {
	cursor: pointer;
}
.nav-tab .nav-btn-right {
	right: 0;
} 
.accrossTab {
	min-width: 950px;
  height: 30px;
  margin-bottom: 0;
 	padding: 0;
  line-height: 30px;
  position: absolute;
  left: 40px;
  overflow: hidden;
  white-space: nowrap;
}
.accrossTab:hover {
	cursor: pointer;
}
.accrossTab li {
	display: inline-block;
	position: relative;
	border: 1px solid #fff;
	border-radius: 6px 6px 0 0;
	white-space: nowrap;
}
.accrossTab li +li {
	border-left: 0;
}
.accrossTab li span.tab {
	margin: 0 15px;
}
.accrossTab li i.fa-times {
	display: none;
	position: absolute;
	right: 0;
	z-index: 10;
}
.accrossTab li:hover i.fa-times {
	display: inline-block;
}
.accrossTab li.active {
	background: #efefef;
}